---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_158bPjDcCIVKdoogTThXOdXX",
          "livemode": false,
          "created": 1418321507,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_158bPjDcCIVKdoogCiYgyomL",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "IQnEaXfcetF11NdI",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Thu, 11 Dec 2014 18:14:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_158bPjDcCIVKdoogTThXOdXX&description=Charge%20for%20test%40example.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_158bPkDcCIVKdoogST61NxaM"
          }
        }
  recorded_at: Thu, 11 Dec 2014 18:14:20 GMT
recorded_with: VCR 2.9.3
