---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_156OZGDcCIVKdoogwjEi33pY",
          "livemode": false,
          "created": 1417795470,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_156OZGDcCIVKdoogy3jWZRLA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "NRS9aqXFvjKki6Hk",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Fri, 05 Dec 2014 16:06:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_156OZGDcCIVKdoogwjEi33pY&description=Charge%20for%20test%40example.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_156OZGDcCIVKdoogArlUELTi",
          "object": "charge",
          "created": 1417795470,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_156OZGDcCIVKdoogArlUELTi/refunds",
            "data": []
          },
          "card": {
            "id": "card_156OZGDcCIVKdoogy3jWZRLA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "NRS9aqXFvjKki6Hk",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_156OZGDcCIVKdooge8FbFYL7",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for test@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": "unavailable",
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Fri, 05 Dec 2014 16:06:44 GMT
recorded_with: VCR 2.9.3
