%p Dear #{@user.username},
%br
%p You've requested a password reset. Please follow the link below to reset your password.
%p
  = link_to "reset password here", new_password_url(@user.token)
%p Yours Truly,
%p The Myflix Team
