---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_15AjnGDcCIVKdoog8oxwSWno&description=Sign%20up%20charge%20for%20gijoe%40gmail.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15AjnLDcCIVKdoogB8ALfOmQ",
          "object": "charge",
          "created": 1418830379,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15AjnGDcCIVKdoognOujQw2W",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "NRS9aqXFvjKki6Hk",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15AjnLDcCIVKdoogdkZaPURC",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for gijoe@gmail.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15AjnLDcCIVKdoogB8ALfOmQ/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 17 Dec 2014 15:35:18 GMT
recorded_with: VCR 2.9.3
