---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_15AkY7DcCIVKdoogGhgHpm5p&description=Sign%20up%20charge%20for%20gijoe%40gmail.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_sOFJcxrHpkfd4GVzlGubiHqR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15AkYDDcCIVKdoog06KsJbXU"
          }
        }
  recorded_at: Wed, 17 Dec 2014 16:23:44 GMT
recorded_with: VCR 2.9.3
